name: TestFlight

on:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ develop ]

jobs:
  testflight:
    runs-on: macos-10.15

    steps:
    - uses: sinoru/actions-setup-keychain@v1.0
    - uses: actions/checkout@v2
    - name: Build and deploy
      env:
        MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}
        MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD: ${{ secrets.FASTLANE_APPLE_APPLICATION_SPECIFIC_PASSWORD }}
      run: |
        cd Nexd
        bundle install
        bundle exec fastlane testflight_beta
